.prices {
    padding: 4em;
    width: 90%;
    border: 1px solid #000;
    margin: 1em 1em;
}
  
.prices ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    }
  
.prices ul li {
    flex-basis: calc(30% - 20px);
    list-style: none;
    text-align: center;
    background-color: #6d4c7c;
    border: 1px solid #fff;
    
}
  
.prices .btn-holder {
  justify-content: center;
  display: flex;
  margin-bottom: 18px;
}


.prices a {
	background-color: #282828;
	border: none;
	color: white;
	font-size: 13px;
	font-weight: 600;
	line-height: 10px;
	padding: 19px 50px;
	min-width: 79px;
	transition: all .3s ease-in-out;
}

  .prices a:hover{
    color: #ffffff;
    background-color: #e49497;
  }

.prices h1 { 
    text-align: center;     

    }

.prices p { 
    text-align: center;
    margin-top: 0.5em; 

    }


